{% extends 'base.html.twig' %}
{% block body %}
    <div class="form-inline">
        <h3  class="btn-block btn-info" id="vehicule">Liste des voitures existantes</h3>
         <a href="{{ path('vehicule_new') }}">Ajout d'un nouveau vehicule</a>
    </div>
{% endblock %}