<div class="dropdown-header bg-danger">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('ajout_voyageur') }}">Inscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reservation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Contact</a>
        </li>
    </ul></div>

<div id="gauche">
    <div class="">
        <br/>
        <ul>
            <li><a href="{{ path('index_voyageur') }}">Liste voyageur</a></li>
            <li><a href="{{ path('vehicule_new') }}">Ajout vehicule</a></li>
            <li><a href="{{ path('index_vehicule') }}">Liste vehicule</a></li>
        </ul>

    </div>
</div>